In [9]:
from database.functions import *
from database.session import session
import pandas as pd
import numpy as np

In [10]:
g10 = ['EUR', 'JPY',  'GBP', 'AUD', 'CAD', 'NZD', 'NOK', 'SEK','USD']

df = pd.DataFrame()
for cur in g10:
    spotrate = get_fx(cur,'CHF','Spot')
    fwdrate = get_fx(cur,'CHF','1M')

    df[cur+'CHFspot'] = spotrate
    df[cur+'CHFforward'] = fwdrate


print(df.head())

            EURCHFspot  EURCHFforward  JPYCHFspot  JPYCHFforward  GBPCHFspot  \
date
1999-12-31    1.594511       1.591984    0.015555       0.015415         NaN
2000-01-03    1.588692       1.586424    0.015403       0.015265         NaN
2000-01-04    1.602417       1.599846    0.015063       0.014930         NaN
2000-01-05    1.607401       1.604961    0.014910       0.014776         NaN
2000-01-06    1.607816       1.605412    0.014751       0.014618         NaN

            GBPCHFforward  AUDCHFspot  AUDCHFforward  CADCHFspot  \
date
1999-12-31            NaN    1.039110       1.035603    1.100069
2000-01-03            NaN    1.029082       1.025560    1.081674
2000-01-04            NaN    1.024529       1.021064    1.071210
2000-01-05            NaN    1.023201       1.019852    1.072784
2000-01-06            NaN    1.019791       1.016469    1.064474

            CADCHFforward  NZDCHFspot  NZDCHFforward  NOKCHFspot  \
date
1999-12-31       1.096592    0.828287       0.825565    0.197917
2000-01-03       1.078316    0.816684       0.813978    0.196725
2000-01-04       1.067847    0.817926       0.815212    0.196140
2000-01-05       1.069527    0.808405       0.805824    0.195957
2000-01-06       1.061272    0.803987       0.801419    0.196001

            NOKCHFforward  SEKCHFspot  SEKCHFforward  USDCHFspot  \
date
1999-12-31       0.197161    0.186199       0.185858     1.59070
2000-01-03       0.195982    0.185397       0.185067     1.56475
2000-01-04       0.195398    0.185992       0.185653     1.55545
2000-01-05       0.195237    0.186183       0.185852     1.55500
2000-01-06       0.195279    0.186038       0.185717     1.55360

            USDCHFforward
date
1999-12-31       1.584520
2000-01-03       1.558625
2000-01-04       1.549420
2000-01-05       1.549140
2000-01-06       1.547785

In [13]:
df.to_excel('rahcgchgcghtes.xlsx')

            carry_factor
date
2000-01-31           NaN
2000-02-29     -0.008168
2000-03-31     -0.008378
2000-04-30      0.027577
2000-05-31      0.010993
...                  ...
2024-12-31      0.018400
2025-01-31     -0.011602
2025-02-28      0.004912
2025-03-31      0.003462
2025-04-30     -0.026223

[304 rows x 1 columns]